body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

h1{
  font-family: 'Arvo', serif;
  letter-spacing: 2px;
  font-size: 30px;
  color: #2C3333;
}

h3 {
  text-align: center;
}
i {
  margin: 0 5px;
  color: #0E8388;
}
body > div > header > nav > a > h1 > i {
  margin-right: 10px;
}
.fa-solid.fa-bars {
  font-size: 20px;
}
a{
    text-decoration: none;
    color: rgb(28, 28, 28);
    
    font-weight: 600;
}
.dropdown-menu a:hover {
    color: rgb(28, 28, 28);
    border-bottom: 2px solid rgb(28, 28, 28);;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-ul {
    display: flex;
}
li {
    list-style: none;
    margin: 10px;
    font-family: 'Lato', sans-serif;
    color: rgb(28, 28, 28);
    font-size: 14px;
}

.hamburger {
    background-color: transparent;
    border:none;
}

.change {
    font-weight: bold;
    cursor: pointer;
}
header {
margin-bottom: 20px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  
  font-family: 'Lato', sans-serif;
  background-color: #0E8388;
  color: white;
  padding: 5px;
  margin: 5px;
  border: 1px solid #2E4F4F;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
button:hover:not(.changeBtn, .hamburger) {
  background-color: #2E4F4F;
}

#welcome {
  font-style: italic;
  width: 50%;
  text-align: center;
}

/* FORMULÄR */
.loginSection {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.loginSection form {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
#loginOrReg-form input {
    margin-bottom: 10px;
  font-family: 'Lato', sans-serif;

}
.userSection {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.changeBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    box-shadow: none;
}
.accountList {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding:0;
}
.account-div {
  width: 350px;
  background: #CBE4DE;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
li a {
  font-size: 18px;
}
button[id*="delete"] {
  background-color: #2C3333;
  width: 125px;
}
button[id*="delete"]:hover {
  background-color: rgb(209, 80, 80);
}
#createAccount-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #0E8388;
  padding: 20px;
border-radius: 10px;
}
#logout {
  margin-top: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-top: auto;
    width: 100%;
    font-size: 14px;
}
.hidden {
    display: none;
}


/* ----------- MEDIA QUERIES ---------- */


@media (max-width: 635px) {
    .dropdown-menu {
      position: absolute;
      top: 87px;
      right: 0;
      z-index: 1;
      background-color: #cbe4de6b;
      display: none;
      text-align: right;
    }
    .dropdown-menu ul {
        display: flex;
        flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .dropdown-menu li {
      border-bottom: 1px solid rgb(28, 28, 28);;
    }
    .dropdown-menu li:last-child {
      border-bottom: none;
    }
    .dropdown-menu a {
      display: block;
      padding: 10px;
      color: rgb(28, 28, 28);;
    }
    .show {
      display: block !important;
    }
    }

  @media (min-width: 636px) {
    .hamburger {
      display: none;
    }
 
  
  }